*, *::before, *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: sans-serif;
}

ul {
    list-style-type: none;
}

dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    border: none;
    box-shadow: 4px 4px 6px 0px rgba(51, 51, 51, 0.8);
    border-radius: 16px;
}

input {
    padding: 0.25rem;
}

#taskForm {
    padding: 1.6rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
}

.container {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
}

.header {
    height: 118px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hamburger-icon {
    flex: 0.8;
}

.hamburgerIcon {
    transform: scale(0.5);
}

.header-text {
    flex: 1;
    font-size: 4rem;
}

.main {
    display: flex;
    height: 100%;
}

.sidebar {
    width: 350px;
    padding: 20px;
    background-color: #F5F3F5;
}

.task-filter,
.projects-list {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

.section,
.project-section {
    color: #000;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}

.section {
    font-size: 1.5rem;
}

.project-section {
    font-size: 1.2rem;
}

.icons {
    height: 27px;
    width: 27px;
}

.projects-container {
    margin-top: 1rem;
}

.project-text {
    color: #000;
    font-size: 2.25rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border-bottom: 1px solid black;
    padding-bottom: 8px;
}

#addProjectForm {
    margin-top: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icons-24 {
    height: 24px;
    width: 24px;
}

.submit-project-btn,
.cancel-project-btn {
    border: none;
    cursor: pointer;
    background-color: transparent;
}

.add-project-container {
    margin-top: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.none {
    display: none !important;
}

.projects-list {
    margin-top: 8px;
}

#project-add {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: transparent;
    color: #000;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    margin: 0.5rem 1rem;
    padding: 1rem;
    gap: 8px;
}

.addIcon {
    height: 20px;
    width: 20px;
}

.content {
    flex: 1;
    padding: 36px;
    background-color: #E8E8E8;
}

.content-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid black;
    padding-bottom: 8px;
    margin-bottom: 16px;
}

.todayText {
    font-size: 3rem;
}

.add-task {
    border-radius: 0.75rem;
    background: #1B264F;
    border: none;
    padding: 0.5rem;
    color: #FFF;
    text-align: center;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.tasks-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
}

.task {
    background-color: #274690;
    height: 50px;
    display: flex;
    align-items: center;
    padding: 16px;
}

.task-info {
    color: white;
    flex: 2;
    margin-left: 12px;
}

.title {
    font-weight: 600;
    font-size: 1rem;
}

.description {
    font-size: 14px;
}

.task-date {
    color: white;
    flex: 1;
}

.task-icons,
.project-icons {
    /* color: white; */
    display: flex;
    gap: 12px;
}

input[type="checkbox"] {
    appearance: none;
    width: 20px;
    height: 20px;
    background: #eee;
    border: 2px solid #ddd;
    border-radius: 4px;
    cursor: pointer;
}
  
  input[type="checkbox"]:checked {
    background: #858585;
    border-color: #858585;
    position: relative;
}
  
  input[type="checkbox"]:checked::before {
    content: "\2714";
    position: absolute;
    top: -3px;
    left: 2px;
    color: white;
    font-size: 16px;
}

.input-container {
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
}

.dropdown-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal-btns {
    display: flex;
    justify-content: space-around;
    gap: 0.5rem;
}

.submit-btn,
.cancel-btn {
    border: none;
    font-weight: bold;
    padding: 1rem;
    border-radius: 16px;
    cursor: pointer;
    flex: 1;
    background-color: #274690;
    color: white;
}